@model List<NøstedProsjekt.Models.ServiceOrder>

<h2>Service Ordre Oversikt</h2>

<table border="1">
    <thead>
        <tr>
            <th>Service Ordre ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
            </tr>
        }
    </tbody>
</table>


