@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Nøsted</h1>
    <p>Alt handler om koblinger. </p>
    <p> <a href="https://www.nosted.com/produkter/vinsj">Igland - Vinsj</a></p>
</div>

