<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/ServiceForm/Index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

    <div class="body-text">
        <h1>Service Form</h1>
    </div>

    

</body>
</html>

