@{
    // You can put C# Razor code here if you need it
}

<h1>Tusen takk!</h1>
<p>Din service order er motatt og vil bli sett på av våre ansatte fortløpende.</p>
<p>For flere spørsmål, kontakt oss gjerne via <a href="https://www.nosted.com/kontakt">www.nøsted.com/kontakt</a></p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Returner til Forside</a>
