@model NøstedProsjekt.Models.ServiceOrder.

<h1>Lag en service ordre</h1>

<form asp-action="CreateServiceOrder" method="post">
   
    <!-- Customer Information -->
    <label asp-for="FirstName">First Name:</label>
    <input asp-for="FirstName" class="form-control" placeholder="First Name"/>
    <br />
    
    <label asp-for="LastName">Last Name:</label>
    <input asp-for="LastName" class="form-control" placeholder="Last Name"/>
    <br />

    <label asp-for="PhoneNumber">Phone Number:</label>
    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number"/>
    <br />

    <label asp-for="EmailAddress">Email Address:</label>
    <input asp-for="EmailAddress" class="form-control" placeholder="Email"/>
    <br />

    <!-- Product Details -->
    <label asp-for="ProductName">Product Name:</label>
    <input asp-for="ProductName" class="form-control" placeholder="Product Name"/>
    <br />

    <label asp-for="ProductType">Product Type:</label>
    <input asp-for="ProductType" class="form-control" placeholder="Product Type"/>
    <br />

    <label asp-for="Comment">Comment:</label>
    <input asp-for="Comment" class="form-control" placeholder="Comment"/>
    <br />

    <button type="submit">Create</button>
</form>
